<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <section th:substituteby="layout/head"></section>
</head>
<body class="hold-transition skin-green sidebar-mini fixed">
<div class="wrapper">
    <section th:substituteby="layout/header"></section>
    <section th:substituteby="layout/sideBar"></section>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section th:substituteby="layout/contentHeader"></section>
        <section class="content">
            <div>
                <div layout:fragment="content" th:remove="tag"></div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->

    <footer th:substituteby="layout/footer"></footer>
    <!--<section th:substituteby="layout/controlSideBar"></section>  -->

</div>
</body>
</html>